# ======================
# JAVA / SPRING BOOT
# ======================
/backend/target/
*.class
*.log

# Maven
.mvn/
!/.mvn/wrapper/maven-wrapper.jar

# ======================
# NODE / ANGULAR
# ======================
/frontend/node_modules/
/frontend/dist/
/frontend/.angular/

# npm logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ======================
# ENV / SECRETS
# ======================
.env
.env.*
application-local.properties

# ======================
# IDEs
# ======================
# IntelliJ
.idea/
*.iml

# VSCode
.vscode/

# ======================
# OS FILES
# ======================
.DS_Store
Thumbs.db

# ======================
# ARCHIVES / BUILDS
# ======================
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# ======================
# JVM CRASH
# ======================
hs_err_pid*
replay_pid*